{%  extends 'main.html'  %}


{% block content %}

<main class="about-section">
    <h2>About Lolly makeup Store 💄</h2>
    <p>
      Lolly makeup store 💄
      Because your beauty deserves the best
      At Lolly, we choose the finest makeup products for you. 
      Original with care, to highlight your natural beauty and give you an elegant and bright look that suits all times.
      We provide a variety of modern cosmetics, in attractive colors and high quality,
      so that you can live a luxurious beauty experience and an unforgettable touch of femininity.
    </p>
    <p>
      Lolly... where beauty meets confidence 💄 ...
    </p>
 <a class="btn" href="{%url 'index'%}">⬅ Back to Home</a>
  </main>

{% endblock %}

