{% extends 'main.html' %}

{% block content %}

<main class="form-container">
    <h2>Add Product</h2>

    <form method="POST" enctype="multipart/form-data" class="auth-form">
        {% csrf_token %}

        <label>Product Name</label>
        <input type="text" name="name" required>

        <label>Price</label>
        <input type="number" name="price" step="0.01" required>

        <label>Image</label>
        <input type="file" name="image">

        <button type="submit">Add</button>
    </form>
</main>

{% endblock %}
